.jumbotron {
  padding-top: 6rem;
  background-color: #a7e2fd;
}
section img {
  width: 14rem;
}
section p {
  margin-top: -0.3rem;
}
.abil {
  margin-bottom: -0rem;
}
footer {
  margin-bottom: -1rem;
}
