.jumbotron {
  padding-top: 2rem;
  background-color: #a7e2fd;
}
section img {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}
section p {
  margin-bottom: -0.3rem;
}
#gallery {
  background-color: #a7e2fd;
}
